{% extends "layout.html" %}

{% block content %}
<div id="page404" class="page-centered">
    <div class="row">
        <div class="span12">
            <h1>Oups, cette page n'existe pas !</h1>
            <hr>
        </div>
        <div class="span12">
            Malheureusement, la page que vous recherchez n'existe pas ou plus... <br>
            Mais vous pouvez toujours retourner sur la <a href="/" title="accueil">page d'accueil</a> pour trouver votre bonheur !
        </div>
    </div>
</div>
{% endblock content %}