{% extends "layout.html" %}

{% block content %}
<div id="page404" class="page-centered">
    <div class="row">
        <div class="span12">
            <h1>Oups, une erreur serveur est survenue !</h1>
            <hr>
        </div>
        <div class="span12">
            Nos équipes ont été alerté et sont sur le coup pour réparer ça au plus vite. <br>
            Merci pour votre patience, vous pouvez retourner à la <a href="/" title="accueil">page d'accueil</a> en attendant !
        </div>
    </div>
</div>
{% endblock content %}